.git
.gitignore
.gitattributes

.vscode
.venv
venv
env

__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov

.env
.env.*
*.pem
*.key

*.log

profile_dir
tests
Dockerfile.old
docker-compose.yml