click
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
Bootstrap-Flask
flask-moment
Flask-WTF
python-dotenv
Flask-SQLAlchemy
Flask-Migrate
Flask-Mail
Flask-Login
Flask-PageDown
Flask-HTTPAuth
Authlib
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
Faker
Flask-Talisman
waitress
python-dotenv
flask_migrate
werkzeug
markdown
bleach